{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block page-header %}{% blocktrans %}Stock retrieval{% endblocktrans %}{% endblock %}

{% block content %}

    {% crispy form %}

    <form action="{% url 'stock-sync' %}" method="post">{% csrf_token %}
        <input type="submit" class="btn btn-primary" value="{% trans "Pull stock" %}">
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans 'date' %}</th>
            <th>{% trans 'share' %}</th>
            <th>{% trans 'volume' %}</th>
            <th>{% trans 'adj. close' %}</th>
            <th>{% trans 'high' %}</th>
            <th>{% trans 'low' %}</th>
            <th>{% trans 'close' %}</th>
            <th>{% trans 'open' %}</th>
        </tr>
        </thead>
        {% for stockday in object_list %}
            <tbody>
            <tr>
                <td>{{ stockday.date }}</td>
                <td><b>{{ stockday.share }}</b></td>
                <td>{{ stockday.volume }}</td>
                <td>{{ stockday.adj_close }}</td>
                <td>{{ stockday.high }}</td>
                <td>{{ stockday.low }}</td>
                <td>{{ stockday.close }}</td>
                <td>{{ stockday.open }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}