{% extends 'base.html' %}
{% load i18n crispy_forms_tags %}

{% block page-header %}{% blocktrans %}Stock retrieval{% endblocktrans %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-6">
        <h3>
            {% for share in shares %}
                <span class="label label-primary" style="margin-right: 10px;">{{ share }}
                    <a href="{% url 'stock-delete' share.pk %}">
                        <span class="glyphicon glyphicon-remove text-danger" aria-hidden="true">
                        </span>
                    </a>
                </span>
            {% endfor %}
        </h3>
        </div>
        <div class="col-md-6">
            {% crispy form %}
        </div>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{% trans 'time' %}</th>
            <th>{% trans 'share' %}</th>
            <th>{% trans 'price' %}</th>
            <th>{% trans 'volume' %}</th>
            <th>{% trans 'open' %}</th>
        </tr>
        </thead>
        {% for sharevalue in object_list %}
            <tbody>
            <tr>
                <td>{{ sharevalue.time }}</td>
                <td><b>{{ sharevalue.share }}</b></td>
                <td>{{ sharevalue.price }}</td>
                <td>{{ sharevalue.volume }}</td>
                <td>{{ sharevalue.open }}</td>
            </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}