{% extends 'base.html' %}
{% load i18n %}

{% block page-header %}{% blocktrans %}Social retrieval{% endblocktrans %}{% endblock %}

{% block content %}

    <a class="btn btn-primary" style="margin-bottom: 5px" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">
            <i class="fa fa-facebook fa-3x"></i> log in twitter
    </a>
    <br>
    <a class="btn btn-primary" style="margin-bottom: 5px" href="{% url 'social-twitter' %}">
         view tweets
    </a>
    <br>
    <a class="btn btn-primary" style="margin-bottom: 5px" href="{% url 'social-twitter-manual' %}">
         get tweets manual
    </a>
{% endblock %}